/** FORM RESET / BASIC STYLE **/
.btn-sizing {
  border-radius: $border-radius-px;
  padding: 0.5em 1em;
}

form {
  @extend .swatch1;
  background-color: lighten($base-color, 50%);
  padding: 2em;

  fieldset {
    margin-top: 1em;
    border: 1px solid #ccc;
    padding: 1em;
    p {
      font-weight: normal;
    }
  }

  input:not([type="submit"]),
  textarea {
    width: 100%;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }

  input[type="checkbox"] + label {
    display: inline;
    font-weight: normal;
  }

  label,
  fieldset {
    display: block;
    font-weight: bold;
  }
  input:not([type="submit"]) {
    box-sizing: border-box;
  }
  .formFieldsWrapper {
    column-count: 2;
    background-color: #f00;
  }
}

#basicFields {
  display: none;
}

.formFieldWrapper + .formFieldWrapper {
  margin-top: 1em;
}

form + form,
.btnActions {
  margin-top: 2em;
}

/** ACF FORM OVERWRITE **/
form.acf-form {
  a.acf-button {
    text-decoration: none;
    font-size: 0.8rem;
    &:hover {
      color: $white;
    }
  }

  div.acf-fields.acf-form-fields.-top
    > div.acf-field.acf-field-repeater
    > div.acf-label
    > label {
    @extend .h2;
  }

  .acf-form-submit {
    border-top: 1px solid $light-gray;
    padding-top: 1em;
  }
}

/** ACF FRONTEND FORM OVERWRITE **/
form.frontend-form {
  ul.acf-checkbox-list {
    column-count: 2;
    li {
      -webkit-column-break-inside: avoid;
      ul.children {
        padding-left: 0;
        margin-left: 1em;
      }
    }
  }

  .acf-actions {
    .acf-button {
      line-height: 1;
    }
  }

  .acf-button,
  .acf-button.button,
  input[type="submit"] {
    border-radius: $border-radius-px;
  }

  .fea-submit-button {
    @extend .btn-sizing;
    line-height: 2;
  }
}

#acf-popup .acf-popup-box {
  .acf-submit .button {
    @extend .btn-sizing;
    line-height: 1;
  }
}
