@import "setup/variables.scss";
@import "setup/flexbox.grid.scss";
@import "setup/colors.scss";
@import "setup/typography.scss";
@import "setup/forms.scss";

div {
  box-sizing: border-box;
}

/** MEDIA UPLOADER WAS GETTING SCREWY **/

.wp-core-ui .attachment .thumbnail {
  max-width: unset;
  padding: 0;
  margin: 0;
  border: 2px solid $white;
  &:hover {
    border-color: $base-color;
  }
}

p {
  margin: 1em 0;
}
hr {
  margin: 2em 0;
}

/** NAVIGATION **/
nav.sidebar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    &:hover {
      background-color: darken($base-color, 10%);
    }
  }

  li.active {
    background-color: darken($base-color, 10%);
  }
}

ul.bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

.marginTop-2x {
  margin-top: 2em;
}

fieldset.practice_service_categories {
  @extend .marginTop-2x;
  ul {
    column-count: 3;
  }
}

.btn,
.button {
  position: relative;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;

  border: 0;
  background-color: $base-color;
  color: $white;
  cursor: pointer;
  line-height: 50px;
  &:hover {
    background: darken($base-color, 10%);
    color: $white;
  }
}

.sidebarnav {
  @extend .swatch2;
}
.columns-2 {
  column-count: 2;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card.overview {
  @extend .swatch1;
  @extend .boxshadow;
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 49%;
  overflow: hidden;
  height: 300px;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  .excerpt {
    margin: 0;
  }

  .featured_image {
    background-color: $light-gray;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;

    img {
      height: 100%;
      width: auto;
      max-width: unset;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.cards-wrapper#practice-location-cards {
  .card {
    height: auto;
    text-align: center;
  }
}

.cards-wrapper#case-study-cards {
  .card {
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
    align-items: center;

    .content {
      padding-left: 1em;
      flex-grow: 1;

      .card_meta,
      .card_actions {
        width: 49%;
        display: inline-block;
      }
      .card_actions {
        text-align: right;
        a {
          opacity: 0.5;
          font-weight: bold;
          &:hover,
          &:active {
            opacity: 1;
          }
        }
      }
    }
  }
}
.alert + section {
  margin-top: 2em;
}

section + section {
  border-top: 1px solid $light-gray;
  padding-top: 2em;
  margin-top: 2em;
}

.text-center {
  text-align: center;
}
